.contact {
    text-align: center;
    height:75vh;
    justify-content: center;
}
.contact-container {
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.page-title {
    font-size: 40px;
    margin-bottom: 2rem;
}
.form-container {
    margin-top: 1rem;
    height: auto;
    justify-content: center;
    align-items: center;
    border: solid, black;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, textarea {
    border: solid, black;
    font-size: 1rem;
    width: auto;
    margin: 1rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
textarea {
    padding-top: 15px;
}
.send-btn {
    margin: 2rem;
    height: 2.8rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: solid, black;
    background-color: white;
    font-weight: bold;
}
.contact-logo{
    height: 40px;
    width: 40px;
    margin: 10px;
}
.external-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.external-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.form-title {
    margin: 2rem;
}