.home { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 75vh;
}
.home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
    padding-left: 3rem;
    padding-right: 3rem; 
}
.logo {
    height:40px;
    width:auto;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.headshot {
    height: 500px;
    width: auto;
    border-radius: 50%;
}
.link-btn {
    font-weight:bold;
    display: flex;
    background-color: white;
    border-color: black;
    margin: 0.5rem;
    margin-top: 2rem;
    width: 8.5rem;
    height:3.8rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 0.9rem;
    cursor:pointer;
}
.btns {
    display: flex;
    justify-content: center;
}
.my-name {
    margin: 1rem;
    font-size: 40px;
}