.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:1.5rem 7rem 1.5rem 7rem;
}
.nav-logo{
    font-size: 1.5rem;
}
.nav-links{
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.nav-links li {
    list-style: none;
    font-size:1.2rem;
    transition: transform 0.3s ease;
}
li:hover {
    color: grey;
    transform: scale(1.1);
}
.nav-links a {
    text-decoration: none;
    color: black;
}
.contact-btn {
    background-color: var(--orange);
    padding: 10px;
    border-radius: 25px;
    width: 80px;
    text-align: center;
}
.mobile-menu-icon {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-links-mobile {
    display: none;
    height: auto;
    width: auto;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 40px;
    padding: 15px;
    border-radius: 8px;
    list-style: none;
    align-items: center;
}