.projects {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.pg-title{
    font-size: 40px;
}
.project-carousel {
    display: flex;
    gap: 1rem;
    height: 75vh;
    overflow-x: auto;
    align-items: center;
    scroll-behavior: smooth;
    width: 180vw;
}
.proj-section-title{
    margin-top: 2rem;
    margin-bottom: -4rem;
}
.project-card {
    justify-content:center;
    background-color: white;
    border-radius: 8px;
    width: 30rem;
    height: 26rem;
    padding-top:2rem;
    margin: 2rem 1.5rem;
    box-shadow: 0 4px  8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.project-card:hover {
    transform: translateY(-5px);
}
.proj-description{
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
    flex: 1;
}
.proj-description p{
    padding: 1rem;
}
.proj-description:hover{
    opacity: 1;
    transform: scale(1);
}
.proj-title {
    padding-left: 2rem;
    padding-right: 2rem;
}
.proj-image{
    width: 400px;
    height: 350px;
    object-fit:cover;
    display: block;
    border-radius: 0.5rem;
}
.project-card h3 {
    margin-bottom:0.5rem;
}

.project-carousel::-webkit-scrollbar {
    height: 8px;
}

.projects-carousel::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.carousel-container {
    display: flex;
    -webkit-mask-image: linear-gradient(to right, #0000, #000 5%, #000 95%,#0000);
}

.scroll-btn {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 0.5rem;
    position:absolute;
    transform: translate(-50%);
    z-index:  1;
}
.image-container {
    position: relative;
    margin: 0;
    padding: 0;
    height:fit-content;
    margin-bottom: 1rem;
}
.logo {
    margin-top: 3rem;
    bottom: 0;
}
.external-link{
    transform: translateY(-30%);
    background-color: var(--orange);
    height: 3rem;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.experience-skills-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 5rem 0 5rem;
    gap: 8rem;
}
.experience-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.skills-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.coding-list li{
    list-style-type: none;
    transform: none;
    color: black;
    margin-bottom: 8px;
}
.skill-js{
    width: 48%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}
.skill-py{
    width: 45%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}
.skill-java{
    width: 50%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}
.skill-c{
    width: 30%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}
.skill-html{
    width: 50%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}
.skill-sql{
    width: 35%; 
    background-color: #04AA6D;
    border-radius: 10px;
    padding-left: 10px;
}