@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 800px) {
    .nav {
        position:static;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile{
        display: flex;
        flex-direction: column;
        position: absolute;
        backdrop-filter: blur(10px);
        gap: 12px;
        padding: 35px;
        border-radius: 8px;
        z-index: 1;
        font-size: 20px;
    }
    .mobile-nav-links a {
        margin: 10px 0;
        text-decoration: none;
        text-align: center;
    }
    .mobile-menu-icon {
        display: block;
    }
    .home{
        height: auto;
        position: relative;
    }
    .home-container{
        flex-direction: column;
        text-align: center;
        padding: 10px;
        gap: 50px;
    }
    .headshot {
        height: 400px;
    }
    .about {
        height: auto;
        position: relative;
    }
    .about-container{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 0 25px 0 25px;
    }
    .abt-img{
        margin: 0;
    }
    .projects {
        height: auto;
        position: relative;
    }
    .projects-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 0 25px 0 25px;
    }
    .experience-skills-container {
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .experience-container {
        width: 50vw;
        align-items: center;
    }
    .skills-container {
        width:50vw;
        align-items: center;
    }
    .hard-skills {
        width: 50vw;
        text-align: center;
    }
    .coding-skills {
        text-align: left;
    }
}
@media screen and (max-width: 600px) {
    .nav {
        justify-content: space-between;
        padding: 1.5rem;
    }
    .headshot {
        height: 300px;
    }
    .abt-img {
        height: 300px;
    }
    .experience-skills-container {
        margin: 2rem 0;
    }
    .experience-container {
        width: 100%;
    }
    .experience-container ul {
        padding: 6px 0;
    }
    .skills-container {
        width: 100%;
    }
    .hard-skills {
        width: 100%;
    }
    .coding-skills {
        padding-top: 10px;
    }
    .project-card{
        height: 25rem;
        width: 24rem;
        padding-top: 1rem;
    }
    .proj-image {
        width: 300px;
        height: 375px;
    }
    .proj-description{
        flex-direction: column;
    }
    .proj-description p {
        margin: 0;
        padding: 4px 8px 4px 8px;
        gap: 0;
    }
    .project-carousel {
        height: 83vh;
    }
    .contact {
        height: auto;
        position: relative;
    }
    .contact-container {
        flex-direction: column;
        text-align: center;
        padding: 0 25px 0 25px;
    }
    .external-links{
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 20px;
    }
    .form-container{
        width: 325px;
        margin: 0;
    }
    input,textarea {
        width: 15rem;
    }
    .send-btn{
        height:3rem;
    }
}