@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 800px) {
    .nav {
        position:static;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile{
        display: flex;
        flex-direction: column;
        position: absolute;
        backdrop-filter: blur(10px);
        gap: 12px;
        padding: 35px;
        border-radius: 8px;
        z-index: 1;
        font-size: 20px;
    }
    .mobile-nav-links a {
        margin: 10px 0;
        text-decoration: none;
        text-align: center;
    }
    .mobile-menu-icon {
        display: block;
    }
    .home{
        height: auto;
        position: relative;
    }
    .home-container{
        flex-direction: column;
        text-align: center;
        padding: 10px;
        gap: 50px;
    }
    .headshot {
        height: 400px;
    }
    .about {
        height: auto;
        position: relative;
    }
    .about-container{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 0 25px 0 25px;
    }
    .abt-img{
        margin: 0;
    }
    .projects {
        height: auto;
        position: relative;
    }
    .projects-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 0 25px 0 25px;
    }
    .experience-skills-container {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .experience-container {
        width: 50vw;
        align-items: center;
    }
}